Objective : Make a basic NLP model for sentiment analysis categorizing the review as Negative or Positive.

Libraries : 
1. Numpy
2. Matplotlib
3. Tensorflow Keras

Uses inbuilt Tokenized IMDB dataset for training and testing the model.

How the code works and its information is included as comments in the main file.
